<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file</key>
		<string>llama.js</string>
		<key>page</key>
		<integer>1</integer>
		<key>rectangle</key>
		<array>
			<real>33.1034482758621</real>
			<real>1640.99494252874</real>
			<real>684.178390804598</real>
			<real>1920.69149425287</real>
		</array>
	</dict>
</array>
</plist>
