<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>edu.osu.math.Reflections</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>STIXGeneral.otf</string>
		<string>STIXGeneralBol.otf</string>
		<string>STIXGeneralBolIta.otf</string>
		<string>STIXGeneralItalic.otf</string>
		<string>STIXGeneralItalic.otf</string>
		<string>STIXIntDBol.otf</string>
		<string>STIXIntDReg.otf</string>
		<string>STIXIntSmBol.otf</string>
		<string>STIXIntSmReg.otf</string>
		<string>STIXIntUpBol.otf</string>
		<string>STIXIntUpDBol.otf</string>
		<string>STIXIntUpDReg.otf</string>
		<string>STIXIntUpReg.otf</string>
		<string>STIXIntUpSmBol.otf</string>
		<string>STIXIntUpSmReg.otf</string>
		<string>STIXNonUni.otf</string>
		<string>STIXNonUniBol.otf</string>
		<string>STIXNonUniBolIta.ocf</string>
		<string>STIXNonUniIta.otf</string>
		<string>STIXSizFiveSymReg.otf</string>
		<string>STIXSizFourSymBol.otf</string>
		<string>STIXSizFourSymReg.otf</string>
		<string>STIXSizOneSymBol.otf</string>
		<string>STIXSizOneSymReg.otf</string>
		<string>STIXSizThreeSymBol.otf</string>
		<string>STIXSizThreeSymReg.otf</string>
		<string>STIXSizTwoSymBol.otf</string>
		<string>STIXSizTwoSymReg.otf</string>
		<string>STIXVar.otf</string>
		<string>STIXVarBol.otf</string>
		<string>Floralia.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
